<div class="card-group">
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/multicolor.jfif" alt="Multicolor Art">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/multi-color-art">Multicolor Art</a></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/nature.jfif" alt="Nature Art">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/nature-art">Nature Art</a></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/pencil.jfif" alt="Pencil Sketches">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/pencil-sketches">Pencil Sketches</a></h5>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/dark.jfif" alt="Dark Theme Art">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/dark-theme-art">Dark Theme Art</a></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/animal.jfif" alt="Animal Paintings">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/animal-paintings">Animal Paintings</a></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top image-size" src="../../assets/black.jfif" alt="Black & White Paintings">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/black-and-white-painitings">Black & White Paintings</a></h5>
      </div>
    </div>
  </div>